@font-face {
  font-family: cream;
  src: url(assets/cream-DEMO.ttf);
}

@font-face {
  font-family: creamlight;
  src: url(assets/cream-light.ttf);
}

@font-face {
  font-family: katherina;
  src: url(assets/katherina.ttf);
}

@font-face {
  font-family: louis;
  src: url(assets/Louis\ George\ Cafe.ttf);
}
@font-face {
  font-family: louislight;
  src: url(assets/Louis\ George\ Cafe\ Light.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
