.content3 {
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 150vh;
}
  
.experience-content {
    display: flex;
    align-items:center;
    flex-direction: column;
}

.bluebox {
    background-color: #F0F7FE;
    justify-content: center;
    width: 100vw;
    height: 130vh;
}

.blue-experience {
    color: #7DB6EC;
}

.experience-title {
    display: flex;
    flex-direction: row;
}

.titletext {
    font-family: cream;
    font-size: 24px;
}

.star {
    height: 4vh;
    width: auto;
    padding-right: 1vw;
    padding-left: 1vw;
    margin-top: 2.5vh;
}

.experienceComponents {
    display: flex;
    justify-content: center;
  }
  
  .experienceColumn {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
  }
  